@model IEnumerable<FYP.Models.Module>

@{
    ViewData["Title"] = "View Available Module ";
    Layout = "~/Views/Shared/_Layout-User.cshtml";
}

    <div>
        <h3> Module Information </h3>
    </div>


<table class="table" id="example1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-outline-success" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
